@charset "UTF 8";

/*
    em HTML id   = em CSS é # (id- só pode um elemento)
    em CSS class = em HTML é  (Class- pode vários elementos)
*/

body{
    background-color: #F4AE8B;
    font-family: Arial, Helvetica, sans-serif;
}
h1{ 
    color: #733B1F;
}
h1#principal {
    text-align: center;
    background-color: #735241;
    color: white;
}
h2{
    color: #735241;
}
h2.basico{
    color: #ae9d1a;
}
h2.intermediario{
    color: #cf1a1a;
}
.avancado{
    color: #3d1d0d;
}
.destaque{
    background-color: rgba(255, 255, 0, 0.438);
}